*.egg-info
*.mo
*.py?
*.sw?
/setup.cfg
/build
/.coverage
/.installed.cfg
/.mr.developer.cfg
/.project
/.pydevproject
/Sauce-Connect.jar
/bin/
/buildout-cache/
/buildout.cfg
/develop-eggs/
/dist/
/htmlcov/
/include/
/lib/
/mockup
/nixenv
/parts/
/var/
